
body{
    margin: 0 auto;
    background-color: #222;
}
.text{
    font-size: 5.5rem;
    color: #d4d1d5;
}

.main{
    font-family: Arial;
    font-size: 25px;
    height: 2.5rem;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    box-shadow: 3px 4px 9px black;
    border-radius: 6px 7px 9px;
}
a{
    text-decoration: none;
    color: black;

}
.home{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 2px;
    text-align: center;
}

.gallery{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 2px;
    text-align: center;
}

.contacts{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 2px;
    text-align: center;

    font-size: 1.5rem;
}


